body{
    background-color: #007fc6;
}
img{
    float: left;
}
datetime{
    color: #007fc6;
    background-color: white;
    padding: 5px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 40px;
    float: right;
    margin-top: 70px;
    border-radius: 25px;
}